In [4]:
import pandas as pd
import random


input_file = "std data.xlsx"
input_data = pd.read_excel(input_file)

names = input_data["NAME"].tolist()  
emails = input_data["EMAIL ID"].tolist()  


course_names = ["Math", "Physics", "Chemistry", "Biology", "Computer Science", "History"]
attempts = ["First", "Second", "Third"]

used_course_ids = set()  
def assign_grade(marks):
    if marks >= 90:
        return "A"
    elif marks >= 80:
        return "B"
    elif marks >= 70:
        return "C"
    elif marks >= 60:
        return "D"
    elif marks >= 50:
        return "E"
    else:
        return "F"


def generate_course_id():
    while True:
        course_id = f"C-{random.randint(1000, 9999)}"
        if course_id not in used_course_ids:
            used_course_ids.add(course_id)
            return course_id


students = []
for i in range(len(names)):  
    num_courses = random.randint(1, 3)
 
    age = random.randint(18, 25)  
    for _ in range(num_courses):
        course_name = random.choice(course_names)
        attempt = random.choice(attempts)

        if attempt == "First":
            marks = random.randint(40, 100)
        elif attempt == "Second":
            marks = random.randint(50, 100)
        else:
            marks = random.randint(60, 100)

        grade = assign_grade(marks)

        student = {
            "Name": names[i],
            "Email": emails[i],
            "Age": age,
            "Course ID": generate_course_id(),
            "Course Name": course_name,
            "Attempt": attempt,
            "Marks": marks,
            "Grade": grade
        }
        students.append(student)


df = pd.DataFrame(students)

# Save to CSV
output_file = "enhanced_student_dataset.csv"
df.to_csv(output_file, index=False)

print(f"Dataset created and saved as '{output_file}'.")


print(df.head())
df

Dataset created and saved as 'enhanced_student_dataset.csv'.
               Name                              Email  Age Course ID  \
0  ABBHISHEK BEHERA       abbhishekbehera.ab@gmail.com   18    C-2140
1  ABBHISHEK BEHERA       abbhishekbehera.ab@gmail.com   18    C-6971
2     ABDUL KALAM J  10g14kalamjvalentino467@gmail.com   24    C-8002
3        ABIESWAR T       abinayaaratharasan@gmail.com   19    C-7035
4      AISVAMALAR A             aishuarou656@gmail.com   25    C-5396

  Course Name Attempt  Marks Grade
0   Chemistry   First     73     C
1     History   Third     74     C
2     Biology  Second     94     A
3        Math  Second     68     D
4     Biology   Third     61     D

,Name,Email,Age,Course ID,Course Name,Attempt,Marks,Grade
0,ABBHISHEK BEHERA,abbhishekbehera.ab@gmail.com,18,C-2140,Chemistry,First,73,C
1,ABBHISHEK BEHERA,abbhishekbehera.ab@gmail.com,18,C-6971,History,Third,74,C
2,ABDUL KALAM J,10g14kalamjvalentino467@gmail.com,24,C-8002,Biology,Second,94,A
3,ABIESWAR T,abinayaaratharasan@gmail.com,19,C-7035,Math,Second,68,D
4,AISVAMALAR A,aishuarou656@gmail.com,25,C-5396,Biology,Third,61,D
...,...,...,...,...,...,...,...,...
117,VIDHESH.D,vidheshdhanasekaran0406@gmail.com,21,C-4679,Physics,Third,84,B
118,VIDHESH.D,vidheshdhanasekaran0406@gmail.com,21,C-3765,Computer Science,First,52,E
119,THARANIYA S,tharaniya226@gmail.com,20,C-7723,Biology,First,99,A
120,THARANIYA S,tharaniya226@gmail.com,20,C-6234,Chemistry,Second,83,B
121,THARANIYA S,tharaniya226@gmail.com,20,C-5167,Computer Science,Second,80,B